In [2]:
import os
os.listdir[]

SyntaxError: invalid syntax (<ipython-input-2-358581747b52>, line 2)

In [9]:
import os
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [15]:
import pandas
df = pandas.read_csv("supermarkets.csv")
df.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [20]:
df = pandas.read_json("supermarkets.json")
df.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [22]:
df = pandas.read_excel("supermarkets.xlsx",sheetname=0)
df

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [30]:
df = pandas.read_csv("supermarkets_semi-colons.txt",sep=':')

OSError: File b'supermarkets_semi-colons.txt' does not exist

In [35]:
df7 = pandas.read_json("supermarkets.json")
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [37]:
df7.set_index("Address")

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [39]:
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [47]:
df7 = df7.set_index("Address")

KeyError: 'Address'

In [48]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [50]:
df.set_inex?

Object `df.set_inex` not found.

In [52]:
df7.set_index?

In [54]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [55]:
df7.loc["735 Dolores St":"3222 Hill St","Country":"ID"]

KeyError: '3222 Hill St'

In [58]:
df7.iloc[:,1:4]

                Country  Employees  ID
Address
3666 21st St        USA          8   1
735 Dolores St      USA         15   2
332 Hill St         USA         25   3
3995 23rd St        USA         10   4
1056 Sanchez St     USA         12   5
551 Alvarado St     USA         20   6

In [59]:
df7.ix[3,"Name"]

"Ben's Shop"

In [60]:
df7.drop

<bound method NDFrame.drop of                           City Country  Employees  ID         Name  \
Address
3666 21st St     San Francisco     USA          8   1      Madeira
735 Dolores St   San Francisco     USA         15   2  Bready Shop
332 Hill St      San Francisco     USA         25   3  Super River
3995 23rd St     San Francisco     USA         10   4   Ben's Shop
1056 Sanchez St  San Francisco     USA         12   5      Sanchez
551 Alvarado St  San Francisco     USA         20   6   Richvalley

                            State
Address
3666 21st St             CA 94114
735 Dolores St           CA 94119
332 Hill St      California 94114
3995 23rd St             CA 94114
1056 Sanchez St        California
551 Alvarado St          CA 94114  >

In [61]:
df7.drop("City")

ValueError: labels ['City'] not contained in axis

In [62]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [63]:
df7.drop('City')

ValueError: labels ['City'] not contained in axis

In [64]:
df7.index

Index(['3666 21st St', '735 Dolores St', '332 Hill St', '3995 23rd St',
       '1056 Sanchez St', '551 Alvarado St'],
      dtype='object', name='Address')

In [65]:
df7.columns

Index(['City', 'Country', 'Employees', 'ID', 'Name', 'State'], dtype='object')

In [66]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [67]:
df["Continent"]= ["North America"]

ValueError: Length of values does not match length of index

In [68]:
len(index)

NameError: name 'index' is not defined

In [69]:
len(df7.index)

6

In [71]:
df7.shape[0]

6

In [73]:
df7_t=df7.T

In [74]:
df7_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
Country,USA,USA,USA,USA,USA,USA
Employees,8,15,25,10,12,20
ID,1,2,3,4,5,6
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114

In [75]:
df7_t["My Address"] = ["My City", "My Country", "My State", "My Continent"]

ValueError: Length of values does not match length of index

In [76]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [77]:
 import geopy

In [78]:
dir(geopy)

['ArcGIS',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeFarm',
 'GeocoderDotUS',
 'GoogleV3',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'NaviData',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Photon',
 'Point',
 'What3Words',
 'YahooPlaceFinder',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']

In [81]:
from geopy.geocoders import Nominatim

In [82]:
nom = Nominatim()

In [83]:
nom.geocode("3995 23rd St, San Francisco, CA 94114 ")

Location(3995, 23rd Street, Noe Valley, SF, California, 94114, United States of America, (37.7529648, -122.4317141, 0.0))

In [123]:
nom.geocode("Tylna 4e,d")

Location(4E, Tylna, Katedralna, d-rdmiecie, d, dzkie, 90-363, RP, (51.7536415, 19.4684479120605, 0.0))

In [85]:
nom.geocode("Wola Owadowska 9")

Location(9, Wola Owadowska, gmina Jastrzbia, powiat radomski, mazowieckie, 26-631, RP, (51.49949, 21.21365, 0.0))

In [86]:
nom.geocode("Ksicia Janusza 39, Warszawa")

Location(Dom Studencki, 39, Ksicia Janusza, Koo, Wola, Warszawa, mazowieckie, 01-452, RP, (52.2420515, 20.9407549354698, 0.0))

In [87]:
n = nom.geocode("Ksicia Janusza 39")

In [88]:
print(n)

Dom Studencki, 39, Ksicia Janusza, Koo, Wola, Warszawa, mazowieckie, 01-452, RP

In [89]:
n.latitiude

AttributeError: 'Location' object has no attribute 'latitiude'

In [90]:
n.latitude

52.2420515

In [91]:
n.longitude

20.9407549354698

In [92]:
type(n)

geopy.location.Location

In [94]:
df=pandas.read_csv("supermarkets.csv")

In [95]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [96]:
df["Address"]=df["Address"] + "," + df["City"] + "," + df["State"] + "," + df["Country"]

In [97]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20

In [101]:
df["Coordinates"] = df["Address"].apply(nom.geocode)

In [102]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Mission District, SF, California..."
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Liberty Street Historic District..."
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(Sanchez Street, Noe Valley, SF, California, 9..."
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarado Street, Noe Valley, SF, California, ..."

In [103]:
dir(apply)

NameError: name 'apply' is not defined

In [104]:
help(apply)

NameError: name 'apply' is not defined

In [105]:
df.Coordinates

0    (21st Street, Mission District, SF, California...
1                                                 None
2    (Hill Street, Liberty Street Historic District...
3    (3995, 23rd Street, Noe Valley, SF, California...
4    (Sanchez Street, Noe Valley, SF, California, 9...
5    (Alvarado Street, Noe Valley, SF, California, ...
Name: Coordinates, dtype: object

In [106]:
df.Coordinates[0]

Location(21st Street, Mission District, SF, California, 94114, United States of America, (37.7570511, -122.4188036, 0.0))

In [107]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Mission District, SF, California..."
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Liberty Street Historic District..."
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(Sanchez Street, Noe Valley, SF, California, 9..."
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarado Street, Noe Valley, SF, California, ..."

In [108]:
df["Latitude"]=df["Coordinate"].latitude

KeyError: 'Coordinate'

In [109]:
import numpy

In [111]:
n=numpy.arange(27)

In [112]:
n

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26])

In [113]:
type(n)

numpy.ndarray

In [114]:
print(n)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26]

In [116]:
n.reshape(3,3,3)

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [118]:
n=numpy.asarray([[123,12,123,12,33],[],[]])

In [119]:
type(n)

numpy.ndarray

In [ ]:
import cv2